@import '~antd/dist/antd.css';
#root{
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bg-box{
  background-color:#000000bd;
  /* padding-top: 2rem */
}
h1.text-thx{
  text-shadow: 2px 2px #3a3838;
  color: #fff;
  text-align: center;
}
.bg-thankyou{
  background-color:#55B36E;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.bg {
  background-color: #70B472;
  text-align: center;
  height: auto;
  line-height: 50px;
}

#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
  }

.ant-menu-dark.ant-menu-horizontal {
  border-bottom-color: rgba(207, 216, 220, 0.2);
}

.global-search-wrapper {
    padding-right: 50px;
  }
  
  .global-search {
    width: 100%;
  }
  
  .global-search.ant-select-auto-complete .ant-select-selection--single {
    margin-right: -50px;
  }
  
  /* .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 62px;
    padding-right: 11px;
  } */
  
  /* .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 0;
  } */
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .global-search-item-count {
    position: absolute;
    right: 16px;
  }

  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  /* body {
    height: 50%;
    margin: 0;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .ant-tag-cyan {
    margin-right: 3px;
  }

  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
  

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.absolute {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  text-align: center;
  color:#fff;
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.absoluteIcon {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  font-size: 24px;
  border: none;
  color:#fff;
  font-weight: bold;
  text-align: right;
  background-color: transparent;
}
.ant-btn{
  border-radius: 0px;
}
hr.style-two {
  border: 0;
  height: 0.5px;
  /* background-color: #55B36E; */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #55B36E, rgba(0, 0, 0, 0));
}

.bg-image {
  background-image: url("../assets/images/bg2.jpg");
  /* filter: blur(8px);
  -webkit-filter: blur(2px); */
  height: 100%; 
  filter: grayscale(50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}