@import '~antd/dist/antd.css';
/* body {
    height: 100%;
    margin: 0;
    background-image: url('/images/kparking/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

/* .facebook { */
  /* background-color: royalblue; */  
  /* width: 100%; */
  /* padding-left: 25%; */
  /* padding-right: 25%; */
  /* text-align: center; */
  /* padding: 15px; */
/* } */

/* .facebook-login { */
  /* height: 40px; */
  /* color: white; */
  /* background-color: #3b5998; */
  /* padding: 6px 15px; */
  /* line-height: 1.57142857; */
  /* font-size: 20px; */
  /* border: none; */
/* } */
/* .facebook-login:disabled { */
  /* opacity: .65; */
/* } */
FormItem {marginBottom: 15px}
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2rem;
  padding: 0 15px 0 60px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2rem;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  /* background-image: linear-gradient(#4C69BA, #3B55A0); */
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
  width: 70%;
  height: 50px;
  margin-bottom: 2%
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 14px 14px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  /* background-image: linear-gradient(#5B7BD5, #4864B1); */
}


/* Google */
.loginBtn--gmail {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  /* background: #DD4B39; */
  background:  #DD4B39;
  width: 70%;
  height: 50px;
}
.loginBtn--gmail:before {
  /* border-right: #BB3F30 1px solid; */
  border-right: #BB3F30 1px solid;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
  background:  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 14px 14px no-repeat; 
}
.loginBtn--gmail:hover,
.loginBtn--gmail:focus {
  /* background: #E74B37; */
  background:  #E74B37;
}
FormItem{margin-bottom: 0px}

