@import '~antd/dist/antd.css';


div.centerpage {
    height: 40em;
    position: relative;
     }
div.centerpage p {
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 }
    P { text-align: center; font-size: 2rem; font-weight: bold; }
   